<!DOCTYPE html>
    <html>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <body>
        <p>NETFLUX</p>

        <div ng-app="myApp" ng-controller="myCtrl">

                <form action = "http://localhost:5000/toakemeto" method = "POST">
                    <input type="submit" name="submit_button" value="LOGIN">
                        <input type="submit" name="submit_button" value="SIGNUP">
                </form>
    </body>
</html>