<html>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./../static/style/style.css?q=1sdfdfdfdsfssffdd1sdsfds11">
   <body>
       <div class="user-details">
            <h3>Hi {{username}}!</h3>
            <form action = "http://localhost:5000/userratingpage" method = "POST">
                <p class="hidden"><input type = "text" name="username" value={{username}} /></p>
                <p><input type ="submit" value = "Movies you Rated" /></p>
            </form>
            <form action = "http://localhost:5000/userlogout" method = "POST">
                <p class="hidden"><input type = "text" name="username" value={{username}} /></p>
                <p><input type ="submit" value = "Logout" /></p>
            </form>
       </div>
       <div class="search-bars">
            <h3>Search Movie</h3>
            <form action = "http://localhost:5000/searchmovie" method = "POST">
                <p><input type = "text" name = "search_string" /></p>
                <p class="hidden"><input type = "text" name="username" value={{username}} /></p>
                <p><input type ="submit" value = "submit" /></p>
            </form>
            <h3>Search Genre</h3>
            <form action = "http://localhost:5000/searchgenre" method = "POST">
                <p><input type = "text" name = "search_string" /></p>
                <p class="hidden"><input type = "text" name="username" value={{username}} /></p>
                <p><input type = "submit" value = "submit" /></p>
            </form>
        </div>
        <div class="search-result">
            
            {% if searchBool%}
            <h3>Your Search Result</h3>
            {%for itr in movies%} 
                    <div>
                        <div class="movie-box">
                        {{itr[3]}}
                        
                        <br />
                        <img src="./../static/movieImage.jpg" alt="MovieImage" style="width:50px;height:60px;">
                            <form action = "http://localhost:5000/updaterating" method = "POST">
                                <input type="number" step="0.5" min="0" max="5" id="{{itr[2]}}" name="user_rating">
                                <p class="hidden"><input type = "text" name="username" value={{username}} /></p>
                                <p class="hidden"><input type = "text" name="movieId" value={{itr[1]}} /></p>
                                <p><input type = "submit" value = "submit" /></p>
                            </form>
                        </div>
                    </div>
                    {%endfor%}
            {% else %}
                    <h3>Empty String Searched</h3>
            {% endif %}
        </div>
        
   </body>
</html>